<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Tinos:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
</head>
<body>
    <div class="box">
        <h1 class="header">Welcome to the Chat App!</h1>

        <button class="signup" id="signupButton">Sign Up</button>
        <script>
        document.getElementById('signupButton').addEventListener('click', function() {
            window.location.href = '/signup';
        });
        </script>

        <button class="login" id="loginButton">Log In</button>
        <script>
        document.getElementById('loginButton').addEventListener('click', function() {
            window.location.href = '/login'; // Replace '/login' with the URL you want to redirect to for login
        });
        </script>
    </div>



</body>
</html>